<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/check-email.css" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <title>도란도란 | 이메일 인증 성공</title>
  </head>
  <body>
    <div class="layout email-background">
      <section>
        <div class="img-container">
          <img alt="성공" src="../../icon/success.svg" />
        </div>
        <h2>이메일 인증 성공</h2>
        <p>
          당신의 이메일 유효성 검사는 확인 되었습니다. <br />이제 로그인을 할 수
          있습니다.
        </p>
        <button>로그인 진행하기</button>
      </section>
    </div>
  </body>
</html>
