<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/home.css" />
    <title>도란도란 | 메인페이지</title>
  </head>
  <body>
    <div class="layout">
      <section>
        <!-- <span class="user-name">김모모님</span>
        <p class="text">만나서 반갑습니다</p> -->

        <!-- Weather banner -->
        <div class="weather-container">
          <span>바르셀로나</span>
          <p>비올 확률 : 0%</p>
          <img src="../../img/weather/cloud-light.png" />
          <h2>19도</h2>
        </div>
        <!-- 글 내용 -->
        <ul>
          <li>
            <img src="../../icon/heart.svg" />
            <div>
              <span>제목</span>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
                voluptate officia minima asperiores harum dolorum praesentium
                esse est. Quibusdam recusandae dolore magni consequuntur, earum
                ex eveniet corporis eaque eos cumque?
              </p>
            </div>
          </li>
        </ul>
        <div class="circle">
          <img src="../../icon/pencil.svg" alt="글쓰기" />
        </div>
        <!-- bottom navigation -->
        <div class="navbar">
          <div>
            <img src="../../icon/home.svg" />
          </div>
          <div>
            <img src="../../icon/heart.svg" />
          </div>
          <div>
            <img src="../../icon/navbar-search.svg" />
          </div>
          <div>
            <img src="../../icon/user.svg" />
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
