<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/my-page.css" />
    <title>도란도란 | 마이페이지</title>
  </head>
  <body>
    <div class="layout">
      <section>
        <div class="header">
          <div class="back-button">
            <img src="../../icon/arrow-left.svg" />
          </div>
          <button class="logout">로그아웃</button>
        </div>
        <div class="content-container">
          <div>
            <!-- 자바스크립트 이미지 - 업로드 - 미리보기 - 만들기를 통해서 처리하시면 됩니다! -->
            <div class="photo"></div>

            <p>김모모</p>
            <span>@asnfwkdcvvb</span>

            <div class="write-container">
              <div class="write-header">
                <p>글 목록</p>
                <button>글쓰기</button>
              </div>
              <div class="contents">
                <!-- 글 내용 -->
                <ul>
                  <li>
                    <img src="../../icon/heart.svg" />
                    <div>
                      <span>제목</span>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Sint voluptate officia minima asperiores harum dolorum
                        praesentium esse est. Quibusdam recusandae dolore magni
                        consequuntur, earum ex eveniet corporis eaque eos
                        cumque?
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="navbar">
          <div>
            <img src="../../icon/home.svg" />
          </div>
          <div>
            <img src="../../icon/heart.svg" />
          </div>
          <div>
            <img src="../../icon/navbar-search.svg" />
          </div>
          <div>
            <img src="../../icon/user.svg" />
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
