<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/search.css" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <title>도란도란 | 검색</title>
  </head>
  <body>
    <div class="layout">
      <section>
        <div class="back-button">
          <img src="../../icon/arrow-left.svg" />
        </div>
        <div class="search-container">
          <input id="password" type="text" placeholder="키워드를 검색하세요." />
          <img src="../../icon/search.svg" alt="검색 아이콘" class="icon" />
        </div>
      </section>
    </div>
    <div class="navbar">
      <div>
        <img src="../../icon/home.svg" />
      </div>
      <div>
        <img src="../../icon/heart.svg" />
      </div>
      <div>
        <img src="../../icon/navbar-search.svg" />
      </div>
      <div>
        <img src="../../icon/user.svg" />
      </div>
    </div>
  </body>
</html>
