<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/write.css" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <title>도란도란 | 글 작성 페이지</title>
  </head>
  <body>
    <div class="layout">
      <section>
        <div class="button-container">
          <div class="back-button">
            <img src="../../icon/arrow-left.svg" />
          </div>
          <button class="send-button">저장하기</button>
        </div>

        <div class="write-container">
          <input class="title" placeholder="큰 헤더" />

          <textarea placeholder="내용을 입력해주세요."></textarea>
        </div>
      </section>
    </div>
    <div class="navbar">
      <div>
        <img src="../../icon/home.svg" />
      </div>
      <div>
        <img src="../../icon/heart.svg" />
      </div>
      <div>
        <img src="../../icon/navbar-search.svg" />
      </div>
      <div>
        <img src="../../icon/user.svg" />
      </div>
    </div>
  </body>
</html>
